<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">
  <!--servlet>
   <display-name>Lookup servlet</display-name>
   <servlet-name>Lookup</servlet-name>
   <servlet-class>jms.poc.jms.web.Producer</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Lookup</servlet-name>
    <url-pattern>/Lookup</url-pattern>
 </servlet-mapping-->

</web-app>
