<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">
  <display-name>HTTP Socket Timeout Test</display-name>
  <!--servlet>
  	<servlet-name>BalancerTest</servlet-name>
  	<display-name>BalancerTest</display-name>
  	<description>Balancer Test Servlet</description>
  	<servlet-class>jms.cluster.balancer.web.BalancerTest</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BalancerTest</servlet-name>
  	<url-pattern>/BalancerTest</url-pattern>
  </servlet-mapping-->
</web-app>
